body {
	/*background-color: black;
	color: white;*/
	font-family: verdana, sans-serif;
	font-size: 16px;
}

a.plain {
	text-decoration: none;
	color: blue;
}

div.container {
	margin: 0 auto;
	text-align: left;
}

img.optimized, img.optimized-500 {
	width: 90%;
	border: 1px solid #20bbff;
	padding: 3px;
	display: inline-block;
}

@media only screen and (min-width: 800px) {
	div.center {
		text-align: center;
		width: 100%;
	}

	div.container {
		width: 750px;
	}

	img.optimized {
		width: 600px;
	}

	img.optimized-500 {
		width: 500px;
	}

	body {
		font-size: 14px;
	}
}

h1 {
	text-align: center;
}

h2, h3 {
	padding-left: 10px;
	border-left: 10px solid #ff7e20;
}

img.bordered {
	border: 1px solid #20bbff;
	padding: 3px;
	display: inline-block;
}

table, th, td {
	border-collapse: collapse;
    border: 1px solid black;
    font-family: monospace;
	font-size: 14px;
}

th, td {
    padding: 3px 3px 3px 3px;
}

th {
	background-color: #cccccc;
	text-align: center;
}

pre {
	font-size: 0.95em;
}

p.mono {
    font-family: monospace;
    font-size: 10.5pt;
    margin-left: 15px;
}

p.indent0 {
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
}

p.indent1 {
	margin-left: 30px;
	margin-top: 0px;
	margin-bottom: 5px;
}

p.centered {
	text-align: center;
}

span.mono {
	font-family: monospace;
	font-size: 10.5pt;
	border: 1px solid #cfcfcf;
	padding: 1px;
}
